* {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
.grid{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(20, 1fr);

    background-color: white;
    color: white;
}
.gridded{
    display: grid;
    grid-template-columns: repeat(10, 1fr);



    background-color: white;
    color: black;
}
button{
    border-width: 0;
}
.column1{
    grid-column-start:1;
    grid-column-end:3;

}  .column2{
    grid-column-start:3;
    grid-column-end:5;

}  .column3{
    grid-column-start:5;
    grid-column-end:7;

}  .column4{
    grid-column-start:7;
    grid-column-end:9;

}  .column5{
    grid-column-start:9;
    grid-column-end:11;

}
.kop{
    background-color: blue;
}

.aboutme{
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 11;

    border-radius: 20%;
    background-color: green;

} .aboutmetext{
      display: flex;
      flex-direction: column;
align-items: center;

  }
.software{
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 11;
    grid-row-end: 12;

    border-radius: 30%;
    background-color: red;

    display: flex;
    justify-content: center;
}
.instagram{
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 12;
    grid-row-end: 13;

    border-radius: 50%;

    background-color: purple;

    display: flex;
    justify-content: center;
}
.foto{
    grid-column-start: 7;
    grid-column-end: 12;
    grid-row-start: 2;
    grid-row-end: 20;
display:flex;
    justify-items: center;

    background-image: url("../download.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: grey;
}

footer{
    grid-column-start: 1;
    grid-column-end: 11;
    grid-row-start: 20;
    grid-row-end: 21;
    display: flex;
}

.contact{
    justify-content: left;
}

.contacted{
    background-color: white;
}

.contacting{
    grid-column-start: 1;
    grid-column-end: 11;
    grid-row-start: 2;
    grid-row-end: 3;
    display:flex;
    justify-content: center;

    align-content: center;
    background-color: white;
    color: black;

}

.titel{
    grid-column-start: 1;
    grid-column-end: 11;
    margin-top: 1%;
    display:flex;
    justify-content: center;
    align-content: center;

    color: black;
    font-weight: bold;
    }

.textabout{
       grid-column-start: 1;
       grid-column-end: 11;
       grid-row-start: 3;
       grid-row-end: 20;
       display:flex;
       justify-content: center;
       align-content: center;
       color: black;
   }
.DownloadCV{
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 16;

    border-radius: 20%;
    background-color: green;
} .CV{
      grid-column-start: 6;
      grid-column-end: 12;
      grid-row-start: 2;
      grid-row-end: 20;
      display:flex;
      justify-items: center;

      background-image: url("../download.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-color: grey;
  }

